
<!DOCTYPE html>
<html lang="ES">

<%- include('../partials/head',{
	title : 'Nuevo Juego'
}) %>


<body class="product-admin-body">
	<%- include('../partials/header-admin') %>
	<main class="product-admin-main">
        <h1 class="product-admin-title">Nuevo Juego</h1>
        <section class="product-admin-main-section">
            <div class="product-admin-main-section-div">
                <div>
                    <h6><a href="/dashboard"> Admin </a>> Nuevo juego</h6>
                    <hr>
                </div>  
                <div class="product-admin-container-de-form">
                    <form action="">
                        <h4>Nuevo juego</h4>
                        <hr>
                        <br>
                        <div class="product-admin-juego">
                            <label for="name">Juego</label>
                            <input name="name" type="text" id="name" placeholder="Nombre">
                        </div>
                        <div class="product-admin-precio-plataforma-stock">
                            <div class="product-admin-precio">
                                <label for="price">Precio</label>
                                <input name="price" type="text" id="price" placeholder="Precio">
                            </div>
                            <div class="product-admin-plataforma">
                                <label for="plataform">Plataforma</label>
                                <select name="plataform" id="plataform" aria-label="Floating label select example">
                                    <option selected hidden>Seleccione Plataforma...</option>
                                    <option>PS3</option>
                                    <option>PS4</option>
                                    <option>PS5</option>
                                    <option>XBOX ONE</option>
                                    <option>XBOX 360</option>
                                    <option>Nintendo Switch</option>
                                </select>
                            </div>
                            <div class="product-admin-stock">
                                <label for="stock">Stock Actual</label>
                                <input name="stock" type="number" id="stock" placeholder="Stock">
                            </div>
                        </div>

                        
                        <label for="category">Seleccione las categorias</label>
                        <div class="product-admin-categories">
                            <div class="product-admin-category">
                                <input name="category" type="checkbox" id="category" value="accion">
                                <label for="category">Acción</label>
                            </div>
                            <div class="product-admin-category">
                                <input name="category" type="checkbox" id="category" value="aventura">
                                <label for="category">Aventura</label>
                            </div>
                            <div class="product-admin-category">
                                <input name="category" type="checkbox" id="category" value="carreras">
                                <label for="category">Carreras</label>
                            </div>
                        </div>

                        <div class="product-admin-categories">
                            <div class="product-admin-category">
                                <input name="category" type="checkbox" id="category" value="deportes">
                                <label for="category">Deportes</label>
                            </div>
                            <div class="product-admin-category">
                                <input name="category" type="checkbox" id="category" value="casual">
                                <label for="category">Casual</label>
                            </div>
                            <div class="product-admin-category">
                                <input name="category" type="checkbox" id="category" value="estrategia">
                                <label for="category">Estrategia</label>
                            </div>
                        </div>
                        <div class="product-admin-categories">
                            <div class="product-admin-category">
                                <input name="category" type="checkbox" id="category" value="multijugador">
                                <label for="category">Multijugador</label>
                            </div>
                            <div class="product-admin-category">
                                <input name="category" type="checkbox" id="category" value="rol">
                                <label for="category">Rol</label>
                            </div>
                            <div class="product-admin-category">
                                <input name="category" type="checkbox" id="category" value="simulacion">
                                <label for="category">Simulación</label>
                            </div>
                        </div>
                        <div class="product-admin-categories">
                            <div class="product-admin-category">
                                <input name="category" type="checkbox" id="category" value="plataformas">
                                <label for="category">Plataformas</label>
                            </div>
                            <div class="product-admin-category">
                                <input name="category" type="checkbox" id="category" value="realidad-virtual">
                                <label for="category">Realidad Virtual</label>
                            </div>
                            <div class="product-admin-category">
                                <input name="category" type="checkbox" id="category" value="disparos">
                                <label for="category">Disparos</label>
                            </div>
                        </div>
                        <div>
                            <div class="product-admin-descripcion">
                                <label for="description">Descripción</label><br>
                                <textarea name="description" id="description" class="textarea-description"></textarea>
                                </div>
                        </div>
                        <div class="product-admin-img-pri">
                            <label for="imagenPrincipal">Imagen principal</label>
                            <input class="img-pri-input" name="imagenPrincipal" type="file" id="imagenPrincipal">
                        </div>
                        <div>
                            <button class="btn primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    



    <%- include('../partials/scripts') %>

</body>
</html>