
<%- include('../partials/head') %>

<body>
    <header>
        <p>Idioma ⌵ </p>
        <a href="/">
            <div class="logo-titulo">
                <img class="logo-estyn" src="/images/Logo_Estyn.png" alt="">
                <h2 class="text-logo">STYN</h2>
            </div>
        </a>
        <nav>
            <div>
                <ul class="lista-header-dos">
                    <li class="register-bottom"><a href="/register">Registrate</a></li>
                    <li style="color: white;">|</li>
                    <li class="register-bottom"><a href="/login">Login</a></li>
                    <div class="icons-barra">
                        <li><a href="#"><i class="fa-solid fa-circle-user"></i></a></li>
                        <li><a href="/productcart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-heart"></i></a></li> 
                        <li><a href="#"><i class="fa-solid fa-bars"></i></a></li>
                        <li><a href="/"><i class="fa-solid fa-house"></i></a></li>  
                    </div>
                </ul>
            </div>
            
            <div class="div-padre-lista">
            <ul class="lista-header">
                <li><a href="#">PS3</a></li>
                <li><a href="#">PS4</a></li>
                <li><a href="#">PS5</a></li>
                <li><a href="#">XBOX</a></li>
                <li><a href="#">NINTENDO</a></li>
                <li><a href="#">CONTACTO</a></li>
                <li><a href="/">INICIO</a></li>
            </ul>
            <div class="contenedor-busqueda-boton">
                <input class="__input" placeholder="Buscar" type="text">    
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            </div>

        </nav>
    </header>

    <main>
        <section class="product_detail">
            <h1>7 days to die | ps4</h1>

            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
                <p>3.45/5 de Rating</p>
            </div>

            <article class="main__product">
                <div class="product-info">
                    <div>
                        <img class="main_image" src="/img/7daysToDie.png" alt="50px">
                        <!-- Swiper -->
                        <div class="swiper mySwiper mySwiperpd1">
                            <div class="swiper-wrapper swiper-wrapperpd1">
                                <div class="swiper-slide swiper-slidepd1"><img src="/img/7dtd-banner-1.jpg" alt="">
                                </div>
                                <div class="swiper-slide swiper-slidepd1"><img src="/img/7dtd-banner-2.jpeg" alt="">
                                </div>
                                <div class="swiper-slide swiper-slidepd1"><img src="/img/7dtd-banner-3.webp" alt="">
                                </div>
                                <div class="swiper-slide swiper-slidepd1"><img src="/img/7dtd-banner-4.jpg" alt="">
                                </div>
                                <div class="swiper-slide swiper-slidepd1"><img src="/img/7dtd-banner-5.jpg" alt="">
                                </div>
                            </div>
                            <br><br>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="add_cart">
                    <div class="precio">$26,000

                        <button>Medios de pago</button>
                    </div>
                    <div class="cantidad">
                        <button>-</button>
                        <span>1</span>
                        <button>+</button>
                    </div>

                    <div class="add__carrito">
                        <button>Agregar a mi carrito</button>
                    </div>

                </div>
            </article>
            <article>
                <h2 class="descripcion">Descripción</h2>
                <p>Descripción
                    7 Days to Die (7DTD) es un videojuego perteneciente
                    al género de terror, mundo abierto, sandbox basado
                    en voxel y supervivencia, creado por la empresa
                    The Fun Pimps. Es un videojuego mash up de acción
                    en primera y tercera persona, el videojuego combina
                    el combate, la mejora del personaje por niveles, la
                    elaboración de materiales, la construcción, el saqueo,
                    la minería, la exploración, la comercialización,
                    la agricultura y la personalización del personaje. <br>
                    <br>
                    La historia se ambienta en un futuro próximo, donde
                    una tercera guerra mundial ha dejado a la tierra en
                    ruinas, los humanos están hundidos en odio y dolor.
                    Muchos creían que todo esto ocurría por causa de la
                    radiación, las armas bioquímicas o un acto de dios,
                    pero no era ninguna de las anteriores, sino que todo
                    era a causa de un virus desconocido que pronto
                    transformaría a los humanos supervivientes en un
                    ejército de muertos vivientes, actuando como un ser
                    de una sola mente. <br>
                    <br>
                    El jugador toma el papel de un superviviente atrapado
                    en un mundo salvaje infestado por zombis del
                    condado Navezgane, Arizona: uno de los últimos
                    verdaderos edén en la tierra. La palabra Navezgane
                    significa "asesino de monstruos" en apache.
                    Los apaches habían habitado la tierra desde hace
                    siglos.
                </p>

                <h3>Reseñas: 1</h3>
                <article class="reseñas">
                    <div class="reseñas__stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                        <p>Jugabilidad</p>
                    </div>
                    <div class="reseñas__stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                        <p>Historia</p>
                    </div>
                    <div class="reseñas__stars"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i class="fa-regular fa-star-half-stroke"></i><i
                            class="fa-regular fa-star"></i>
                        <p>Gráficos</p>
                    </div>
                    <div class="reseñas__stars"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i class="fa-regular fa-star-half-stroke"></i><i
                            class="fa-regular fa-star"></i>
                        <p>Soundtrack</p>
                    </div>
                    <div class="comentar">
                        <button>Comentá ahora</button>
                    </div>
                </article>

                <section class="comentarios">
                    <div class="comentarios__stars">
                        <div>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>

                        <div class="comentarios__hands">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <i class="fa-solid fa-thumbs-down"></i>
                            <h6>+3</h6>
                        </div>
                </section>
                <section class="reseñas__coment">
                    <h5><i class="fa-solid fa-circle-user"></i>LorenaB 12/10/2023</h5>
                    <p>El juego está muy bueno, solo que, llegas a una etapa donde se pone complicado
                        avanzar. Los monstruos son cada vez más dificiles y no tengo ganas de seguir perdiendo tiempo de
                        mi
                        vida en un jueguito. Mejor me voy a estudiar, programación web con
                        el profe Eric y Nath..ahre(?.</p>
                </section>
            </article>

            <article>
                <h3>PRODUCTOS RELACIONADOS</h3><br>
                <div class="swiper mySwiper mySwiperpd2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slidepd2">
                            <article class="producto__relacionado">
                                <img class="img_game" src="/images/theLastOfUs.jpg" alt="">
                                <p class="name_games">The Last Of Us <br> Remastered | PS4</p>
                                <p>$20.000</p>
                            </article>
                        </div>
                        <div class="swiper-slide swiper-slidepd2">
                            <article class="producto__relacionado">
                                <img class="img_game" src="/images/residentEvil4.jpg" alt="">
                                <P class="name_games">Residet Evil 4 <br> Remastered | PS5</P>
                                <p>$13.000</p>
                                <p class="oferta">OFERTA</p>
                            </article>
                        </div>
                        <div class="swiper-slide swiper-slidepd2">
                            <article class="producto__relacionado">
                                <img class="img_game" src="/images/StateOfDecay2.webp" alt="">
                                <P class="name_games">State Of Decay <br> 2 XBOX</P>
                                <p>$17.000</p>
                            </article>
                        </div>
                        <div class="swiper-slide swiper-slidepd2">
                            <article class="producto__relacionado">
                                <img class="img_game" src="/images/theLastOfUs.jpg" alt="">
                                <p class="name_games">The Last Of Us <br> Remastered | PS4</p>
                                <p>$20.000</p>
                            </article>
                        </div>
                        <div class="swiper-slide swiper-slidepd2">
                            <article class="producto__relacionado">
                                <img class="img_game" src="/images/residentEvil4.jpg" alt="">
                                <P class="name_games">Residet Evil 4 <br> Remastered | PS5</P>
                                <p>$13.000</p>
                                <p class="oferta">OFERTA</p>
                            </article>
                        </div>
                        <div class="swiper-slide swiper-slidepd2">
                            <article class="producto__relacionado">
                                <img class="img_game" src="/images/StateOfDecay2.webp" alt="">
                                <P class="name_games">State Of Decay <br> 2 XBOX</P>
                                <p>$17.000</p>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </article>
            <!-- Swiper JS -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper(".mySwiperpd1", {
                    slidesPerView: 3,
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                });
            </script>
                    <!--swiper 2 productos relacionados-->    
            <script>
                var swiper = new Swiper(".mySwiperpd2", {
                slidesPerView: 3,
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                });
            </script>
    </main>

    <footer>
        <article class="section__footer">
            <section>
                <div class="redes_sociales">
                    <a href="https://www.tiktok.com/" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </section>
            <section>
                <div>
                    <h6 class="medios_pago"> Medios de pago</h6>
                    <div class="icon_medios_pago">
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa-brands fa-cc-amazon-pay"></i>
                        <i class="fa-brands fa-cc-paypal"></i>
                        <i class="fa-brands fa-cc-amex"></i>
                    </div>
                </div>
            </section>
            <section>
                <div>
                    <h6 class="contacto">Contacto</h6>
                </div>
                <div class="contacto__tel">
                    <i class="fa-solid fa-square-phone"></i>
                    <p>+54911165230123</p>
                </div>
                <div class="whatsapp">
                    <i class="fa-brands fa-square-whatsapp"></i>
                    <p>Whatsapp +54911165230123</p>
                </div>
                <div class="mail">
                    <i class="fa-solid fa-square-envelope"></i>
                    <p>estyn@gmail.com</p>
                </div>
                <div class="ubicacion">
                    <i class="fa-solid fa-location-arrow"></i>
                    <p>Santiago Del Estero-
                        La Banda-
                        Salavinos Nº253</p>
                </div>
            </section>
        </article>
        </article>
    </footer>
</body>

</html>