<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/18ef03eb70.js" crossorigin="anonymous"></script>
    
</head>
<body class="body__login">
    <header>
        <p>Idioma ⌵ </p>
        <div class="logo-titulo">
            <img class="logo-estyn" src="/img/Logo_Estyn.png" alt="">
            <h2>STYN</h2>
        </div>
        <nav>
            <div>
                
                <ul class="lista-header-dos">
                    <li class="register-bottom"><a href="/register">Registrate</a></li>
                    <li style="color: white;">|</li>
                    <li class="register-bottom"><a href="/login">Login</a></li>
                    <li><i class="fa-solid fa-circle-user"></i></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                    <li><i class="fa-solid fa-heart"></i></li> 
                </ul>
                
            </div>
            
            <div class="div-padre-lista">
            <ul class="lista-header">
                <li><a href="">PS3</a></li>
                <li><a href="">PS4</a></li>
                <li><a href="">PS5</a></li>
                <li><a href="">XBOX</a></li>
                <li><a href="">NINTENDO</a></li>
                <li><a href="">CONTACTO</a></li>
                <li><a href="">INICIO</a></li>
            </ul>
            <div>
                <input class="__input" placeholder="Buscar" type="text">    
            </div>
            </div>
           
        </nav>
    </header>
    <main class="login__main">
        <div class="login__logostyn">
        <img class="login__logo" src="/img/Logo_Estyn.png" alt="">
        <h2>STYN</h2>
        </div>
       <div class="login__div__saludo"> <h1 class="login__saludo">HOLA ME <br> ALEGRA <br> VERTE <br> POR AQUI</h1></div>

    <section class="login__sectionform">
        <h3 class="login__sectionform--titulo">
            Iniciar Sesion
        </h3>
    <form action="" class="login__section__form">
    
    <div class="login__section__formdiv">
    <label for="usuario"></label>
    <input class="login__section__formdiv--escribir" type="text" name="usuario" id="usuario" placeholder="correo electronico">
    </div>
    <div class="login__section__formdiv">
    <label for="password"></label>
    <input class="login__section__formdiv--escribir"  type="password" name="password" id="password" placeholder="contraseña">
    <span class="login__section__form__ojito"><i class="fa-regular fa-eye"></i></span>
    </div>
    <div class="login__section__formboton">
    <label for="iniciar"></label>
    <input type="submit" value="INICIAR" id="iniciar">
    </div>
    
    <div class="login__section__formP">
        <p><a href="">Crear cuenta</a></p>    
    </div> 
    <div class="login__section__formP">            
        <a href="">Olvide mi contraseña</a>
    </div>
    
    
</form>

    </section>
    </main>
    <footer>
        <article class="section__footer">
            <section>
                <div class="redes_sociales">
                    <i class="fa-brands fa-tiktok"></i><i class="fa-brands fa-square-instagram"></i><i
                        class="fa-brands fa-square-facebook"></i><i class="fa-brands fa-twitter"></i>
                </div>
            </section>
            <section>
                <div>
                    <h6 class="medios_pago"> Medios de pago</h6>
                    <div class="icon_medios_pago">
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa-brands fa-cc-amazon-pay"></i>
                        <i class="fa-brands fa-cc-paypal"></i>
                        <i class="fa-brands fa-cc-amex"></i>
                    </div>
                </div>
            </section>
            <section>
                <div>
                    <h6 class="contacto">Contacto</h6>
                </div>
                <div class="contacto__tel">
                    <i class="fa-solid fa-square-phone"></i>
                    <p>+54911165230123</p>
                </div>
                <div class="whatsapp">
                    <i class="fa-brands fa-square-whatsapp"></i>
                    <p>Whatsapp +54911165230123</p>
                </div>
                <div class="mail">
                    <i class="fa-solid fa-square-envelope"></i>
                    <p>estyn@gmail.com</p>
                </div>
                <div class="ubicacion">
                    <i class="fa-solid fa-location-arrow"></i>
                    <p>Santiago Del Estero-
                        La Banda-
                        Salavinos Nº253</p>
                </div>
            </section>
        </article>
        </article>
    </footer>
    

</body>
</html>