<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/18ef03eb70.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <p>Idioma ⌵ </p>
        <div class="logo-titulo">
            <img class="logo-estyn" src="/img/Logo_Estyn.png" alt="">
            <h2>STYN</h2>
        </div>
        <nav>
            <div>
                
                <ul class="lista-header-dos">
                    <li class="register-bottom"><a href="/register">Registrate</a></li>
                    <li style="color: white;">|</li>
                    <li class="register-bottom"><a href="/login">Login</a></li>
                    <li><i class="fa-solid fa-circle-user"></i></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                    <li><i class="fa-solid fa-heart"></i></li> 
                </ul>
                
            </div>
            
            <div class="div-padre-lista">
            <ul class="lista-header">
                <li><a href="">PS3</a></li>
                <li><a href="">PS4</a></li>
                <li><a href="">PS5</a></li>
                <li><a href="">XBOX</a></li>
                <li><a href="">NINTENDO</a></li>
                <li><a href="">CONTACTO</a></li>
                <li><a href="">INICIO</a></li>
            </ul>
            <div>
                <input class="__input" placeholder="Buscar" type="text">    
            </div>
            </div>
           
        </nav>
    </header>
    <main class="productcart__main">
        
        <section class="productcart__section">
            <h1>Tu carrito</h1>

            <article class="productcart__article">
                <div class="productcart__article--juego">
                <div class="productcart__article--imagen"><img src="/img/foto2.jpg" alt="">
                </div>
                <div class="productcart__article--descripcion"><p>DESCRIPCION DEL JUEGO</p>
                    <div class="productcart__article--precio">
                        <p class="productcart__article--productodigital">Producto digital</p>
                        <p>1920.52 ars</p>
                    </div>
                    <div class="productcart__article--cantidad">
                        <p>+</p>
                        <h4>1</h4>
                        <p>-</p>
                </div>
                <div class="productcart__article--tachito">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
                </div>
            </article>
            <article class="productcart__article">
                <div class="productcart__article--juego">
                <div class="productcart__article--imagen"><img src="/img/foto2.jpg" alt="">
                </div>
                <div class="productcart__article--descripcion"><p>DESCRIPCION DEL JUEGO</p>
                    <div class="productcart__article--precio">
                        <p class="productcart__article--productodigital">Producto digital</p>
                        <p>1920.52 ars</p>
                    </div>
                    <div class="productcart__article--cantidad">
                        <p>+</p>
                        <h4>1</h4>
                        <p>-</p>
                </div>
                <div class="productcart__article--tachito">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
                </div>
            </article>
                <article class="productcart__article">
                    <div class="productcart__article--juego">
                    <div class="productcart__article--imagen"><img src="/img/foto2.jpg" alt="">
                    </div>
                    <div class="productcart__article--descripcion"><p>DESCRIPCION DEL JUEGO</p>
                        <div class="productcart__article--precio">
                            <p class="productcart__article--productodigital">Producto digital</p>
                            <p>1920.52 ars</p>
                        </div>
                        <div class="productcart__article--cantidad">
                            <p>+</p>
                            <h4>1</h4>
                            <p>-</p>
                    </div>
                        <div class="productcart__article--tachito">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                    </div>
                </article>

        </section>
        <section class="productcart__section2">
            <div class="productcart__section2--cupones"><h4>Tienes algun cupon</h4></div>
            <div class="productcart__section2--subircupon"><input type="text"> <button type="submit"></button></div>
            <div class="productcart__section2--total"> <p>RESUMEN:</p>
            <p class="productcart__section2--cantidad">2 preoductos</p>
            
            
                <h2>TOTAL</h2>
            <form action="">
                
                <label for="cupon"></label>
                <input type="text" name="cupon" id="cupon">
                </div>
                <div class="productcart__section2--boton">
                <button type="submit">Continuar con la compra</button>    
                </div>
            </form>


        </section>
    </main>
    <footer>
        <article class="section__footer">
            <section>
                <div class="redes_sociales">
                    <i class="fa-brands fa-tiktok"></i><i class="fa-brands fa-square-instagram"></i><i
                        class="fa-brands fa-square-facebook"></i><i class="fa-brands fa-twitter"></i>
                </div>
            </section>
            <section>
                <div>
                    <h6 class="medios_pago"> Medios de pago</h6>
                    <div class="icon_medios_pago">
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa-brands fa-cc-amazon-pay"></i>
                        <i class="fa-brands fa-cc-paypal"></i>
                        <i class="fa-brands fa-cc-amex"></i>
                    </div>
                </div>
            </section>
            <section>
                <div>
                    <h6 class="contacto">Contacto</h6>
                </div>
                <div class="contacto__tel">
                    <i class="fa-solid fa-square-phone"></i>
                    <p>+54911165230123</p>
                </div>
                <div class="whatsapp">
                    <i class="fa-brands fa-square-whatsapp"></i>
                    <p>Whatsapp +54911165230123</p>
                </div>
                <div class="mail">
                    <i class="fa-solid fa-square-envelope"></i>
                    <p>estyn@gmail.com</p>
                </div>
                <div class="ubicacion">
                    <i class="fa-solid fa-location-arrow"></i>
                    <p>Santiago Del Estero-
                        La Banda-
                        Salavinos Nº253</p>
                </div>
            </section>
        </article>
        </article>
    </footer>
</body>
</html>