<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>

    </header>

    <main>
        <section class="product_detail">
            <h1>7 days to die | ps4</h1>

            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
                <p>3.45/5 de Rating</p>
            </div>

            <article class="main__product">
                <div class="product-info">
                    <div><img class="main_image" src="/img/7daysToDie.png" alt="50px"></div>
                </div>
                <div class="add_cart">
                    <div class="precio">$26,000

                        <button>Medios de pago</button>
                    </div>
                    <div class="cantidad">
                        <button>-</button>
                        <span>1</span>
                        <button>+</button>
                    </div>

                    <div class="add__carrito">
                        <button>Agregar a mi carrito</button>
                    </div>

                </div>
            </article>
            <article>
                <h2 class="descripcion">Descripción</h2>
                <p>Descripción
                    7 Days to Die (7DTD) es un videojuego perteneciente
                    al género de terror, mundo abierto, sandbox basado
                    en voxel y supervivencia, creado por la empresa
                    The Fun Pimps. Es un videojuego mash up de acción
                    en primera y tercera persona, el videojuego combina
                    el combate, la mejora del personaje por niveles, la
                    elaboración de materiales, la construcción, el saqueo,
                    la minería, la exploración, la comercialización,
                    la agricultura y la personalización del personaje. <br>
                    <br>
                    La historia se ambienta en un futuro próximo, donde
                    una tercera guerra mundial ha dejado a la tierra en
                    ruinas, los humanos están hundidos en odio y dolor.
                    Muchos creían que todo esto ocurría por causa de la
                    radiación, las armas bioquímicas o un acto de dios,
                    pero no era ninguna de las anteriores, sino que todo
                    era a causa de un virus desconocido que pronto
                    transformaría a los humanos supervivientes en un
                    ejército de muertos vivientes, actuando como un ser
                    de una sola mente. <br>
                    <br>
                    El jugador toma el papel de un superviviente atrapado
                    en un mundo salvaje infestado por zombis del
                    condado Navezgane, Arizona: uno de los últimos
                    verdaderos edén en la tierra. La palabra Navezgane
                    significa "asesino de monstruos" en apache.
                    Los apaches habían habitado la tierra desde hace
                    siglos.
                </p>

                <h3>Reseñas: 1</h3>
                <article class="reseñas">
                    <div class="reseñas__stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                        <p>Jugabilidad</p>
                    </div>
                    <div class="reseñas__stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                        <p>Historia</p>
                    </div>
                    <div class="reseñas__stars"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i class="fa-regular fa-star-half-stroke"></i><i
                            class="fa-regular fa-star"></i>
                        <p>Gráficos</p>
                    </div>
                    <div class="reseñas__stars"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i class="fa-regular fa-star-half-stroke"></i><i
                            class="fa-regular fa-star"></i>
                        <p>Soundtrack</p>
                    </div>
                    <div class="comentar">
                        <button>Comentá ahora</button>
                    </div>
                </article>

                <section class="comentarios">
                    <div class="comentarios__stars">
                        <div>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>

                        <div class="comentarios__hands">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <i class="fa-solid fa-thumbs-down"></i>
                            <h6>+3</h6>
                        </div>
                </section>
                <section class="reseñas__coment">
                    <h5><i class="fa-solid fa-circle-user"></i>LorenaB 12/10/2023</h5>
                    <p>El juego está muy bueno, solo que, llegas a una etapa donde se pone complicado
                        avanzar. Los monstruos son cada vez más dificiles y no tengo ganas de seguir perdiendo tiempo de
                        mi
                        vida en un jueguito. Mejor me voy a estudiar, programación web con
                        el profe Eric y Nath..ahre(?.</p>
                </section>
            </article>

            <article>
                <h3>PRODUCTOS RELACIONADOS</h3><br>
                <div class="img__productos__relacionados">
                    <img class="img_game" src="/img/theLastOfUs.jpg" alt="">
                    <img class="img_game" src="/img/residentEvil4.jpg" alt="">
                    <img class="img_game" src="/img/StateOfDecay2.webp" alt="">
                </div>
                <div class="name_games">
                    <p>The Last Of Us <br> Remastered | PS4</p>
                    <P>Residet Evil 4 <br> Remastered | PS5</P>
                    <P>State Of Decay <br> 2 XBOX</P>
                </div>
                <div class="price_games">
                    <p>$20.000</p>
                    <p>$13.000</p>
                    <p>$17.000</p>
                </div>
                <p class="oferta">OFERTA</p>
    </main>

    <footer>
        <article class="section__footer">
            <section>
                <div class="redes_sociales">
                    <i class="fa-brands fa-tiktok"></i><i class="fa-brands fa-square-instagram"></i><i
                        class="fa-brands fa-square-facebook"></i><i class="fa-brands fa-twitter"></i>
                </div>
            </section>
            <section>
                <div>
                    <h6 class="medios_pago"> Medios de pago</h6>
                    <div class="icon_medios_pago">
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa-brands fa-cc-amazon-pay"></i>
                        <i class="fa-brands fa-cc-paypal"></i>
                        <i class="fa-brands fa-cc-amex"></i>
                    </div>
                </div>
            </section>
            <section>
                <div>
                    <h6 class="contacto">Contacto</h6>
                </div>
                <div class="contacto__tel">
                    <i class="fa-solid fa-square-phone"></i>
                    <p>+54911165230123</p>
                </div>
                <div class="whatsapp">
                    <i class="fa-brands fa-square-whatsapp"></i>
                    <p>Whatsapp +54911165230123</p>
                </div>
                <div class="mail">
                    <i class="fa-solid fa-square-envelope"></i>
                    <p>estyn@gmail.com</p>
                </div>
                <div class="ubicacion">
                    <i class="fa-solid fa-location-arrow"></i>
                    <p>Santiago Del Estero-
                        La Banda-
                        Salavinos Nº253</p>
                </div>
            </section>
        </article>
        </article>

    </footer>


</body>

</html>