<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/18ef03eb70.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>

    </header>
    <main class="productcart__main">
        
        <section class="productcart__section">
            <h1>Tu carrito</h1>

            <article class="productcart__article">
                <div class="productcart__article--juego">
                <div class="productcart__article--imagen"><img src="/img/foto2.jpg" alt="">
                </div>
                <div class="productcart__article--descripcion"><p>DESCRIPCION DEL JUEGO</p>
                    <div class="productcart__article--precio">
                        <p class="productcart__article--productodigital">Producto digital</p>
                        <p>1920.52 ars</p>
                    </div>
                    <div class="productcart__article--cantidad">
                        <p>+</p>
                        <h4>1</h4>
                        <p>-</p>
                </div>
                <div class="productcart__article--tachito">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
                </div>
            </article>
            <article class="productcart__article">
                <div class="productcart__article--juego">
                <div class="productcart__article--imagen"><img src="/img/foto2.jpg" alt="">
                </div>
                <div class="productcart__article--descripcion"><p>DESCRIPCION DEL JUEGO</p>
                    <div class="productcart__article--precio">
                        <p class="productcart__article--productodigital">Producto digital</p>
                        <p>1920.52 ars</p>
                    </div>
                    <div class="productcart__article--cantidad">
                        <p>+</p>
                        <h4>1</h4>
                        <p>-</p>
                </div>
                <div class="productcart__article--tachito">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
                </div>
            </article>
                <article class="productcart__article">
                    <div class="productcart__article--juego">
                    <div class="productcart__article--imagen"><img src="/img/foto2.jpg" alt="">
                    </div>
                    <div class="productcart__article--descripcion"><p>DESCRIPCION DEL JUEGO</p>
                        <div class="productcart__article--precio">
                            <p class="productcart__article--productodigital">Producto digital</p>
                            <p>1920.52 ars</p>
                        </div>
                        <div class="productcart__article--cantidad">
                            <p>+</p>
                            <h4>1</h4>
                            <p>-</p>
                    </div>
                        <div class="productcart__article--tachito">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                    </div>
                </article>

        </section>
        <section class="productcart__section2">
            <div class="productcart__section2--cupones"><h4>Tienes algun cupon</h4></div>
            <div class="productcart__section2--subircupon"><input type="text"> <button type="submit"></button></div>
            <div class="productcart__section2--total"> <p>RESUMEN:</p>
            <p class="productcart__section2--cantidad">2 preoductos</p>
            
            
                <h2>TOTAL</h2>
            <form action="">
                
                <label for="cupon"></label>
                <input type="text" name="cupon" id="cupon">
                </div>
                <div class="productcart__section2--boton">
                <button type="submit">Continuar con la compra</button>    
                </div>
            </form>


        </section>
    </main>
</body>
</html>