.index__main {
    width: 90%;
    margin-left: 5%;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 10px;
    border-radius: 10px;
}

.index__main__section-destacados h1{
    text-align: center;
    padding: 20px;
}
.index__main__section-explorar-banner2-imgs {
    display: block;
}
.index__main__div-categorias-generos {
    display: flex;
    padding: 0 5%;
    justify-content: space-around;
}
.index__main__div-categorias-generos div{
    font-size: small;
    display: flex;
    flex-direction: column;
}
.index__main__div__div-generos div{
    display: flex;
 
}
.index__main__div__div-generos div ul {
    margin-left: 10px;
   text-decoration: underline;
   color: blue;
}

.index__main__section-img-sueltas {
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
   align-items: start;
}
.index__main__section-img-sueltas article{
    width: 100%;
    
}
.index__main__section-img-sueltas h2{
    width: 100%;
}
.index__main__section-img-sueltas article img {
    width: -webkit-fill-available;
    padding: 5% 20px;
}
.index__main__section-img-sueltas div{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}


/*AGREGADO POR EMILIANO*/
.index__main__section-banner2-imgs h2{
    border-bottom: 1px black solid;
}
@media (min-width:768px) {
    .index__main__section-img-sueltas{
        display: flex;
    }
    .index__main__section-img-sueltas article {
        width: 30%;
        
    }
    .index__main__section-img-sueltas article:hover{
      padding: 5px;
    }
    .index__main__div-categorias-generos div{
        font-size: large;
    }
}

@media (min-width:1024px){
    .index__main__section-img-sueltas article {
        width: 20%;
        
    }
    }