/*MAIN*/
/*PARTE DONDE SE VEN LOS PRODUCTOS PARA COMPRAR*/
/*PARTE DONDE SE VEN LOS PRODUCTOS PARA COMPRAR*/
img{width: 100%;}


body{
    background-image: url("/images/imagenFondo.jpg");
}
/*CENTRADO TODO EL MAIN*/
.productcart__main{
    margin: 0 10px;
    padding-top: 5px;
}
/*TU CARRITO BLOQUEADO EN CELULAR*/
.productcart__section h1{
    display: none;
}

/*SECCION DE TODOS LOS PRODUCTOS*/
.productcart__section{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
/*FRASE "DESCRIPCION DEL PRODUCTO" QUE NO ESTA EN CELULAR*/
.productcart__article--descripcion{
    width: 30%;
}
.productcart__article--imagen{
    width: 47%;
}

