/*MAIN*/
/*PARTE DONDE SE VEN LOS PRODUCTOS PARA COMPRAR*/
/*PARTE DONDE SE VEN LOS PRODUCTOS PARA COMPRAR*/
.productcart__section2--subircupon{
    display: none;
}
.productcart__main{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 5px;
    
}
/*section de todos los productos juntos que vas a comprar*/
.productcart__section{
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    padding: 5px;
}
.productcart__section h1{
    display: none;
}
/*articulo que contiene cada producto a comprar*/
.productcart__article{
    color: #ffffff;
    background-color: var(--colorAzulOscuro);
    display: flex;
    flex-wrap: wrap;
   
    padding: 10px;
    
}
/*div de cada juego que vas a comprar*/

.productcart__article--juego{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
   
}

/*imagen de los productos*/
.productcart__article--imagen{
    width: 40%;
    
}
.productcart__article--imagen img{
    width: 100%;
    height: 100%;
}
/*div que tiene todas las letras del producto*/
.productcart__article--descripcion{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 10px;
    font-size: 12px;
    padding: 10px;
}
/*DIV que contiene el precio y la palabra "producto digital"*/
.productcart__article--precio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.productcart__article--productodigital{
    width: 40%;
  
}
/*div que contiene el boton para agregar mas productos*/
.productcart__article--cantidad{
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 10px;
    align-items: center;
    
}
.productcart__article--cantidad p{
    background-color: #D9D9D9;
    color: black;
    padding: 2px 5px;

}

/*/////////////////////////*/
/*PARTE DONDE SE VE EL PRECIO A PAGAR Y CUPONES*/
/*PARTE DONDE SE VE EL PRECIO A PAGAR Y CUPONES*/
.productcart__section2{
    height: 40%;
    background-color: #ffffff;
    width: 100%;
    background-color: #ffffff;
}
/*CUPONES DE DESCUENTO*/
.productcart__section2--cupones{
    text-align: center;
    padding: 8px;
}

/*dice la cantidad de productos que vas a comprar, esta debajo del "resumen"*/
.productcart__section2--cantidad{
    font-size: 10px;
    padding-bottom: 8px;
    width: 100%;
}
/*contiene el resumen, la cantidad de productos y el precio*/
.productcart__section2--total{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: black 1px solid;
    border-left: none;
    border-right: none;
    padding: 5px;
}
/*DIV QUE CONTIENE EL BOTON de continuar compra*/
.productcart__section2--boton{
   text-align: center;
    padding: 15px;
    
}
.productcart__section2--boton button{
    padding: 4%;
    font-size: 100%;
    background-color: #00FFE0;
    border: none;
}

@media (min-width:426px) {
    .productcart__main{
        padding: 20px 15px;
    }
    /*EL TACHITO DE BASURA*/
    .productcart__article--tachito i{
        font-size: 20px;
        text-align: center;
        
    }
    /*LE AGRANDE A TODOS LA LETRA DESDE LA CAJA QUE TIENE TODO EL TEXTO*/
    .productcart__article--descripcion{
        font-size: 15px;
    }
    /*EL PRECIO CON LA LETRA LOS JUNTE UN POCO MAS*/
    .productcart__article--precio{
        justify-content: flex-start;
    }
    /*GRANDE MAS EL NUMERO CON EL + y -*/
    .productcart__article--cantidad{
        font-size: 20px;
    }
    
    .productcart__section2{
        font-size: 20px;
    }
}

@media (min-width:1024px){
    .productcart__main{
        align-items: center;
        justify-content: space-around
    }
    .productcart__section2{
        width: 40%;
        height: 100%;
       
    }
    .productcart__section{
    padding: 10px;
    width: 58%;  
}
.productcart__section h1{
    display: block;
}
.productcart__article--descripcion{
    width: 50%;
}
/* BOTON PARA SUBIR CUPONES*/
.productcart__section2--subircupon{
    display: flex;
    background-color: black;
    justify-content: center;
    padding: 10px;
    gap: 5px;
}
.productcart__section2--subircupon button{
    padding: 8px;
    
    background-color:#E0CB0A;
    border: none
}
.productcart__section2--subircupon input{
   border: none;
    font-size: 19px;
}
.productcart__article--productodigital{
    display: none;
}
.productcart__article--precio {
    justify-content: end;
}
}