/* .register__main__section {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #c0c0c0;
    border-radius: 2px;
}

 */


 header p {
    width: 100%;
    text-align: right;
    padding: 10px;
 }

 .titulo-principal-s {
    text-align: center;
}

.borde-de-caja { /*borde de la tarjeta*/
    display: flex;
    justify-content: center;
    text-align: center
}
.formulario {
    background-color: var(--colorGrisOscuro);
    border-radius: 4px;
    padding: 50px;
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 9px 15px 40px black;
    width: 90%;
    
    .input {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: solid;
    }
}
.separacion { 
    margin: 20px;   
}
.boton {
    margin: 15px 0 ;
    border-style: solid;
    background: white;
    width: 100%;
    border: none;
    padding: 12px;
    font-size: 1rem;
}
.boton:hover {
    background-color: lightskyblue;
    transition: 0.5s;
    border-style: solid;
    border-color: var(--colorGrisClaro);
}
.titulo-tres {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.terminos-condiciones {
    color: black;
}

.cuenta-sesion {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.label {
    display: flex;
    margin: 10px;
}

.h4 {
    font-size: 30px;
    color: var(--colorGrisClaro);
}






 @media (min-width:426px) {

    .titulo-principal-s {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .borde-de-caja { /*borde de la tarjeta*/
        display: flex;
        justify-content: center;
        text-align: center
    }
    .formulario {
        background-color: var(--colorGrisOscuro);
        border-radius: 4px;
        padding: 50px;
        margin: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        box-shadow: 9px 15px 40px black;
        width: 50%;
        .input {
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            border: solid;
        }
    }
    .separacion { 
        margin: 20px;   
    }
    .boton {
        margin: 15px 0;
        border-style: solid;
        background: white;
        width: 100%;
        border: none;
        padding: 12px;
        font-size: 1rem;
    }
    .boton:hover {
        background-color: lightskyblue;
        transition: 0.5s;
        border-style: solid;
        border-color: var(--colorGrisClaro);
    }
    .titulo-tres {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .terminos-condiciones {
        color: black;
    }
    
    .cuenta-sesion {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    .label {
        display: flex;
        margin: 10px;
    }
    
    .h4 {
        font-size: 38px;
        color: var(--colorGrisClaro);
    }
    
 }

 

@media (min-width:1024px) {
    .titulo-principal-s {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .borde-de-caja { /*borde de la tarjeta*/
        display: flex;
        justify-content: center;
        text-align: center
    }
    .formulario {
        background-color: var(--colorGrisOscuro);
        border-radius: 4px;
        padding: 50px;
        margin: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        box-shadow: 9px 15px 40px black;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        .input {
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            border: solid;
        }
    }
    .separacion { 
        margin: 20px;   
    }
    .boton {
        margin: 15px;
        border-style: solid;
        border-color: green;
        background: white;
        width: 50%;
        border: none;
        padding: 12px;
        font-size: 1rem;
    }
    .boton:hover {
        background-color: lightskyblue;
        transition: 0.5s;
        border-style: solid;
        border-color: var(--colorGrisClaro);
    }
    .titulo-tres {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .terminos-condiciones {
        color: black;
    }
    
    .cuenta-sesion {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    .label {
        display: flex;
        margin: 10px;
    }
    
    .h4 {
        font-size: 50px;
        color: var(--colorGrisClaro);
        width: 100%;

    }

    .inputs {
        width: 50%;
    }

    

    .contenedor-de-boton {
        display: flex;
        width: 50%;
        flex-wrap: inherit;
        align-content: center;
        justify-content: space-around;
    }

    .recaptcha {
        width: 85%;
        background-color: var(--colorGrisClaro);
        height: 70px;
        padding-left: 20px;
    }

    .label-robot {
        font-size: 20px;
        text-align: center;
    }
}