<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head',{
	title : 'dashboard'
}) %>

<body>
	<%- include('./partials/header-admin') %>
    <form action="">
        <main>            
            <section>
                
                <div class="container">
                
                    <table class="table-admin">
                        
                            <a href="" class="boton-dashboard"><h3 class="btn secondary">Nuevo</h3></a>
                        
                    <thead>
                        <tr>
                            <th class="id"> iD </th>
                            <th class="nombre">Nombre</th>
                            <th class="categoria">Categoria</th>
                            <th class="plataforma">Plataforma</th>
                            <th class="stock">Stock</th>
                            <th class="precio">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Assassin's Creed Valhalla</td>
                            <td>Aventura</td>
                            <td>PS4 PS5 PC </td>
                            <td>5</td>
                            <td>61500.99$</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Rodrigo</td>
                            <td>Gaston Jigena</td>
                            <td>23</td>
                            <td>0800DONROUCH</td>
                            <td>10pe</td>

                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Rodrigo</td>
                            <td>Gaston Jigena</td>
                            <td>23</td>
                            <td>0800DONROUCH</td>
                            <td>10pe</td>

                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Rodrigo</td>
                            <td>Gaston Jigena</td>
                            <td>23</td>
                            <td>0800DONROUCH</td>
                            <td>10pe</td>

                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Rodrigo</td>
                            <td>Gaston Jigena</td>
                            <td>23</td>
                            <td>0800DONROUCH</td>
                            <td>10pe</td>

                        </tr>
                    </tbody>
                </table>
                </div>
            </section>
        </main>
    </form>


</body>
</html>