<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{
    title:"STYN"
}) %>
<body>
    <%- include('./partials/header') %>
    <main class="index__main">
        <!--Slider principal de destacados-->
        <section class="index__main__section-destacados">
            <h3>DESTACADOS Y RECOMENDADOS</h3>
            <!-- Slider main container -->
            <div class="swiper mySwiper1">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide"> <a href="/productos/detalle"><img src="/images/banner_ark.png" alt="img-banner-ark"></a></div>
                    <div class="swiper-slide"> <a href="/productos/detalle"><img src="/images/banner_fc24.jpg" alt="img-banner-fc24"></a></div>
                    <div class="swiper-slide"> <a href="/productos/detalle"><img src="/images/banner_stalker2.jpg" alt="img-banner-stalker2"></a></div>
                    <div class="swiper-slide"> <a href="/productos/detalle"><img src="/images/banner_codmw2.jpg" alt="img-banner-codmw2"></a></div>
                </div>
                <BR><BR>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
        <!--categorias, banner2 e imagenes-->
        <section class="index__main__section-explorar-banner2-imgs">
            <!--menu categorias/genero-->
            <div class="index__main__div-categorias-generos">
                <!--menu categorias-->
                <div class="index__main__div__div-categorias">
                    <h4><B>EXPLORAR CATEGORÍAS</B></h4>
                    <p><a href="#">Lo más vendido</a></p>
                    <p><a href="#">Novedades</a></p>
                    <p><a href="#">Próximamente</a></p>
                </div>
                <!--menu generos-->
                <div class="index__main__div__div-generos">
                    <h4><B>EXPLORAR POR GENERO</B></h4>
                    <div class="index__main__div__div__div-generos">
                        <ul>
                            <li><a href="#">Acción</a></li>
                            <li><a href="#">Aventura</a></li>
                            <li><a href="#">Carreras</a></li>
                            <li><a href="#">Deportes</a></li>
                            <li><a href="#">Casuales</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Estrategia</a></li>
                            <li><a href="#">Multijugador</a></li>
                            <li><a href="#">Rol</a></li>
                            <li><a href="#">Simulación</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <section class="index__main__section-banner2-imgs">
                <!--slider secundario-->
                <section class="index__main__section-banner2">
                    <!-- Slider main container -->
                    <div class="swiper mySwiper2">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper swiper-wrapper2">
                            <!-- Slides -->
                            <div class="swiper-slide"> <a href="/productos/detalle"><img src="/images/banner_2_acv.png" alt="img-banner2-acv"></a></div>
                            <div class="swiper-slide"> <a href="/productos/detalle"><img src="/images/banner_2_gtav.jpg" alt="img-banner2-gtav"></a></div>
                            <div class="swiper-slide"> <a href="/productos/detalle"><img src="/images/banner_2_vh.jpg" alt="img-banner2-vh"></a></div>
                            <div class="swiper-slide"> <a href="/productos/detalle"><img src="/images/banner_2_acv.png" alt="img-banner2-acv"></a></div>
                            <div class="swiper-slide"> <a href="/productos/detalle"><img src="/images/banner_2_gtav.jpg" alt="img-banner2-gtav"></a></div>
                            <div class="swiper-slide"> <a href="/productos/detalle"><img src="/images/banner_2_vh.jpg" alt="img-banner2-vh"></a></div>
                        </div>
                        <BR><BR>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </section>
                <section class="index__main__section-img-sueltas">
                    <article>
                        <a href="/productos/detalle"><img src="/images/GoWR.jpg" alt=""></a>
                    </article>
                    <article>
                        <a href="/productos/detalle"><img src="/images/csgo.jpg" alt=""></a>
                    </article>
                </section> 
            </section>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <!--Slider principal-->
        <script>
            var swiper = new Swiper('.mySwiper1', {
                effect: "coverflow",
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: "auto",
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                pagination: {
                    el: ".swiper-pagination",
                },
            });
        </script>
        <!--Slider secundario-->
        <script>
            var swiper = new Swiper(".mySwiper2", {
                slidesPerView: 3,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
            });
        </script>
    </main>
    <footer>
        <article class="section__footer">
            <section class="section__redes_sociales">
                <div class="redes_sociales">
                    <a href="https://www.tiktok.com/" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </section>
            <section>
                <div>
                    <h6 class="medios_pago"> Medios de pago</h6>
                    <div class="icon_medios_pago">
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa-brands fa-cc-amazon-pay"></i>
                        <i class="fa-brands fa-cc-paypal"></i>
                        <i class="fa-brands fa-cc-amex"></i>
                    </div>
                </div>
            </section>
            <section>
                <div>
                    <h6 class="contacto">Contacto</h6>
                </div>
                <div class="contacto__tel">
                    <i class="fa-solid fa-square-phone"></i>
                    <p>+54911165230123</p>
                </div>
                <div class="whatsapp">
                    <i class="fa-brands fa-square-whatsapp"></i>
                    <p>Whatsapp +54911165230123</p>
                </div>
                <div class="mail">
                    <i class="fa-solid fa-square-envelope"></i>
                    <p>estyn@gmail.com</p>
                </div>
                <div class="ubicacion">
                    <i class="fa-solid fa-location-arrow"></i>
                    <p>Santiago Del Estero-
                        La Banda-
                        Salavinos Nº253</p>
                </div>
            </section>
        </article>
        </article>
    </footer>
</body>

</html>