
<%- include("./partials/head",{
    title: "STYN - CARRITO"
}) %>
<body>
    <%- include('./partials/header') %>
    <main class="productcart__main">
        
        <section class="productcart__section">
            <h1>Tu carrito</h1>

            <article class="productcart__article">
                <div class="productcart__article--juego">
                <div class="productcart__article--imagen"><img src="/images/foto2.jpg" alt="">
                </div>
                <div class="productcart__article--descripcion"><p>DESCRIPCION DEL JUEGO</p>
                    <div class="productcart__article--precio">
                        <p class="productcart__article--productodigital">Producto digital</p>
                        <p>1920.52 ars</p>
                    </div>
                    <div class="productcart__article--cantidad">
                        <p>+</p>
                        <h4>1</h4>
                        <p>-</p>
                </div>
                <div class="productcart__article--tachito">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
                </div>
            </article>
            <article class="productcart__article">
                <div class="productcart__article--juego">
                <div class="productcart__article--imagen"><img src="/images/foto2.jpg" alt="">
                </div>
                <div class="productcart__article--descripcion"><p>DESCRIPCION DEL JUEGO</p>
                    <div class="productcart__article--precio">
                        <p class="productcart__article--productodigital">Producto digital</p>
                        <p>1920.52 ars</p>
                    </div>
                    <div class="productcart__article--cantidad">
                        <p>+</p>
                        <h4>1</h4>
                        <p>-</p>
                </div>
                <div class="productcart__article--tachito">
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
                </div>
            </article>
                <article class="productcart__article">
                    <div class="productcart__article--juego">
                    <div class="productcart__article--imagen"><img src="/images/foto2.jpg" alt="">
                    </div>
                    <div class="productcart__article--descripcion"><p>DESCRIPCION DEL JUEGO</p>
                        <div class="productcart__article--precio">
                            <p class="productcart__article--productodigital">Producto digital</p>
                            <p>1920.52 ars</p>
                        </div>
                        <div class="productcart__article--cantidad">
                            <p>+</p>
                            <h4>1</h4>
                            <p>-</p>
                    </div>
                        <div class="productcart__article--tachito">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>
                    </div>
                    </div>
                </article>

        </section>
        <section class="productcart__section2">
            <div class="productcart__section2--cupones"><h4>Tienes algun cupon</h4></div>
            <div class="productcart__section2--subircupon"><input type="text"> <button type="submit"></button></div>
            <div class="productcart__section2--total"> <p>RESUMEN:</p>
            <p class="productcart__section2--cantidad">3 productos</p>
            
            
                <h2>TOTAL</h2>
            <form action="">
                
                <label for="cupon"></label>
                <input type="text" name="cupon" id="cupon">
                </div>
                <div class="productcart__section2--boton">
                <button type="submit">Continuar con la compra</button>    
                </div>
            </form>


        </section>
    </main>
    <footer>
        <article class="section__footer">
            <section>
                <div class="redes_sociales">
                    <a href="https://www.tiktok.com/" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </section>
            <section>
                <div>
                    <h6 class="medios_pago"> Medios de pago</h6>
                    <div class="icon_medios_pago">
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa-brands fa-cc-amazon-pay"></i>
                        <i class="fa-brands fa-cc-paypal"></i>
                        <i class="fa-brands fa-cc-amex"></i>
                    </div>
                </div>
            </section>
            <section>
                <div>
                    <h6 class="contacto">Contacto</h6>
                </div>
                <div class="contacto__tel">
                    <i class="fa-solid fa-square-phone"></i>
                    <p>+54911165230123</p>
                </div>
                <div class="whatsapp">
                    <i class="fa-brands fa-square-whatsapp"></i>
                    <p>Whatsapp +54911165230123</p>
                </div>
                <div class="mail">
                    <i class="fa-solid fa-square-envelope"></i>
                    <p>estyn@gmail.com</p>
                </div>
                <div class="ubicacion">
                    <i class="fa-solid fa-location-arrow"></i>
                    <p>Santiago Del Estero-
                        La Banda-
                        Salavinos Nº253</p>
                </div>
            </section>
        </article>
        </article>
    </footer>
</body>
</html>