

<section class="index__main__section-img-sueltas"></section>
<% catalogo.forEach(e => { %>
    <h2><%= e.toUpperCase() %></h2>
<% categorias(e).forEach(t => { %>
       
    
        <article>
            <a href="/productos/detalle"><img src="/images/<%= t.imagenPrincipal %>" alt=""></a>
        </article>

 
    
    <% }) %>
    <% }) %>
</section> 