<header>
    <div class="header-admin">
        <ul class="lista-header-admin-dos">
            <div class="busqueda-admin contenedor-busqueda-boton-admin">
                <form action="/dashboard" method="get">
                <input class="__input" placeholder=" Buscar" type="search" name="buscadorAdmin">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                
            </form>
            </div>
            <div class="icons-barra-admin">
                <li><a href="/"><i class="fa-solid fa-house"></i><br>Estyn</a></li>  
                <li><a href="/dashboard"><i class="fa-solid fa-user-tie"></i><br>Admin</a></li>
            </div>
        </ul>
    </div>
</header>