<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{
    title:"STYN - REGISTER"
}) %>
    <body>
    <%- include('../partials/header') %>
        <main>
            <div class="borde-de-caja">


                <form class="formulario" action="">

                    <h4 class=" h4">Crea tu cuenta</h4>

                    <div class="inputs">


                        <label class="label" for="Nombre">Nombre</label>
                        <input class="input" required placeholder="Ingresa tu nombre..." name="nombre" id="Nombre"
                            type="text">



                        <label class="label" for="Apellido">Apellido</label>
                        <input class="input" required placeholder="Ingresa tu Apellido..." name="apellido" id="Apellido"
                            type="text">



                        <label class="label" for="email">Escribí tu email</label>
                        <input class="input" required placeholder="Ingresar Email" id="email" type="email">


                        <label class="label" for="password">Escribí tu contraseña<a href=""></a></label>
                        <input class="input" id="password" type="password" placeholder="Escribí tu contrasenia"
                            form="password2">


                        <label class="label" for="password2">Confirma tu contraseña<a href=""></a></label>
                        <input class="input" id="password2" type="password" placeholder="Escribí tu contrasenia"
                            form="password2">


                    </div>

                    <div class="contenedor-de-boton">
                        <div class="recaptcha">
                            <input type="checkbox">
                            <label class="label-robot" for="">No soy un robot</label>
                        </div>
                        <button class="boton">Registrarme</button>
                        <a href="/login">
                            <div style="color: white;" class="cuenta-sesion">
                            <p> Ya tengo cuenta</p>
                            <p> Iniciar Sesion</p>
                        </div></a>
                    </div>
                </form>
            </div>
        </main>
        <footer>
            <article class="section__footer">
                <section>
                    <div class="redes_sociales">
                        <a href="https://www.tiktok.com/" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                        <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </section>
                <section>
                    <div>
                        <h6 class="medios_pago"> Medios de pago</h6>
                        <div class="icon_medios_pago">
                            <i class="fa-brands fa-cc-mastercard"></i>
                            <i class="fa-brands fa-cc-visa"></i>
                            <i class="fa-brands fa-cc-amazon-pay"></i>
                            <i class="fa-brands fa-cc-paypal"></i>
                            <i class="fa-brands fa-cc-amex"></i>
                        </div>
                    </div>
                </section>
                <section>
                    <div>
                        <h6 class="contacto">Contacto</h6>
                    </div>
                    <div class="contacto__tel">
                        <i class="fa-solid fa-square-phone"></i>
                        <p>+54911165230123</p>
                    </div>
                    <div class="whatsapp">
                        <i class="fa-brands fa-square-whatsapp"></i>
                        <p>Whatsapp +54911165230123</p>
                    </div>
                    <div class="mail">
                        <i class="fa-solid fa-square-envelope"></i>
                        <p>estyn@gmail.com</p>
                    </div>
                    <div class="ubicacion">
                        <i class="fa-solid fa-location-arrow"></i>
                        <p>Santiago Del Estero-
                            La Banda-
                            Salavinos Nº253</p>
                    </div>
                </section>
            </article>
            </article>
        </footer>
</body>

</html>