<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{
    title:"STYN - REGISTER"
}) %>
    <body>
    <%- include('../partials/header') %>
        <main>
            <div class="borde-de-caja">


                <form class="formulario" action="">

                    <h4 class=" h4">Crea tu cuenta</h4>

                    <div class="inputs">


                        <label class="label" for="Nombre">Nombre</label>
                        <input class="input" required placeholder="Ingresa tu nombre..." name="nombre" id="Nombre"
                            type="text">



                        <label class="label" for="Apellido">Apellido</label>
                        <input class="input" required placeholder="Ingresa tu Apellido..." name="apellido" id="Apellido"
                            type="text">



                        <label class="label" for="email">Escribí tu email</label>
                        <input class="input" required placeholder="Ingresar Email" id="email" type="email">


                        <label class="label" for="password">Escribí tu contraseña<a href=""></a></label>
                        <input class="input" id="password" type="password" placeholder="Escribí tu contrasenia"
                            form="password2">


                        <label class="label" for="password2">Confirma tu contraseña<a href=""></a></label>
                        <input class="input" id="password2" type="password" placeholder="Escribí tu contrasenia"
                            form="password2">


                    </div>

                    <div class="contenedor-de-boton">
                        <div class="recaptcha">
                            <input type="checkbox">
                            <label class="label-robot" for="">No soy un robot</label>
                        </div>
                        <button class="boton">Registrarme</button>
                        <a href="/login">
                            <div style="color: white;" class="cuenta-sesion">
                            <p> Ya tengo cuenta</p>
                            <p> Iniciar Sesion</p>
                        </div></a>
                    </div>
                </form>
            </div>
        </main>

        <%- include('../partials/footer') %>

</body>

</html>